/.web-server-pid
/app/config/parameters.yml
/phpunit.xml

# Cache
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Logs
/var/log/*
!var/log/.gitkeep

# Assets/vendors
/vendor/
/web/bundles/
