{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <p class="alert alert-info wow fadeInRight" data-wow-delay="0.2s">{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>

    <a class="back-to wow fadeInRight" data-wow-delay="0.5s" href="{{ path('fos_user_security_login') }}">
        <i class="fa fa-arrow-left icon left" aria-hidden="true"></i>{{ 'registration.back'|trans({}, 'FOSUserBundle') }}
    </a>
{% endblock body %}
